<p id="notice"><%= notice %></p>

<h1><%= @user.username %></h1>

<h2>Mainstream Rating: <%= @user.percent %>%</h2>

<table class="table table-striped">
  <h3>User Ratings:</h3>
  <thead>
    <tr>
      <th scope="col">Value</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>

    <% if !@user.ratings.empty?%>
      <tr>
        <% arr = @user.ratings.map(&:value) %>
        <td> Average: <%= arr.inject{ |sum, el| sum + el }.to_f / arr.size %></td>
      </tr>
    <% end %>

    <% @user.ratings.each do |rating| %>
      <tr>
        <td><%= rating.value %></td>
        <td>
          <%= link_to 'Edit', "/users/#{@user.id}/ratings/#{rating.id}/edit" %>
          <%= link_to 'Destroy', "/users/#{@user.id}/ratings/#{rating.id}", method: :delete %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if current_user != @user %>
  <h4>Add a rating:</h4>
  <%= form_with url: "/users/#{@user.id}/ratings" do |form| %>
    <%= form.number_field 'rating[value]' %><br>
    <%= form.submit 'Add Rating' %>
  <% end %>
<% end %>

<h4>Songs</h4>
<ul>
  <% @user.tracks.each do |track| %>
    <li> <%= link_to "#{track.name} - #{track.artist}", "/tracks/#{track.id}" %> </li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
